<template>
    <section>
        <div class="container mt-3">
            <search-locations></search-locations>
            <div class="card">
                <forecast-title></forecast-title>
                <weather-forecasts :address="address" ref="WeatherForecasts"></weather-forecasts>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    data() {
        return {
            address: '',
        }
    },
    methods: {
        setLocation(lat, lon, address) {
            this.address = address
            this.$refs.WeatherForecasts.getWeatherForecast(lat, lon)
        }
    }
}
</script>
