<template>
    <div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="location" placeholder="Search Locations" aria-label="Search Locations" aria-describedby="search" v-on:keyup.enter="getPlaces">
            <button class="btn btn-outline-secondary" type="button" id="search" @click="getPlaces">{{ search_button }}</button>
        </div>
        <p class="text-danger">{{ error_message }}</p>
        <template v-if="locations !== false">
            <button type="button" class="btn-close" aria-label="Close" @click="closePlaceList"></button>
            <ul class="list-group list-group-flush mb-3" v-for="location in locations">
                <li class="list-group-item" role="button" @click="setLocation(location.lat, location.lon, location.address)">{{ location.address }}</li>
            </ul>
        </template>
    </div>
</template>

<script>
const qs = require('querystring')

export default {
    data() {
        return {
            locations: false,
            error_message: '',
            search_button: 'Search',
            isDisabled: false,
        }
    },
    methods: {
        setLocation(lat, lon, address) {
            if (this.isDisabled) return
            this.isDisabled = true
            this.$parent.setLocation(lat, lon, address)
            setTimeout(() => {
                this.isDisabled = false
            }, 2000)
        },
        closePlaceList() {
            this.locations = false
        },
        async getPlaces() {
            if (this.isDisabled) return
            this.isDisabled = true
            this.error_message = ''
            this.search_button = 'Loading'
            const data = {
                near: $('#location').val(),
            }
            await axios.get('/api/location/places?' + qs.stringify(data), {
                    headers: {
                        'API-KEY': token
                    }
                })
                .then((response) => {
                    this.isDisabled = false
                    this.search_button = 'Search'
                    this.locations = response.data.data.data
                })
                .catch((error) => {
                    this.isDisabled = false
                    this.locations = false
                    this.search_button = 'Search'
                    this.error_message = error.response.data.message
                })
        },
    }
}
</script>
