<template>
    <div class="card-body" id="weather-forecast">
        <template v-if="lat !== false || lon !== false">
            <template v-if="error_message !== ''">
                <p class="text-danger">{{ error_message }}</p>
            </template>
            <h5 class="text-center">{{ address }}</h5>
            <template v-if="current !== false">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-8 col-xl-3">
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <h6 class="flex-grow-1">{{ current.date }}</h6>
                                    <h6>{{ current.daily_name }}</h6>
                                </div>
                                <div class="d-flex flex-column text-center mt-2 mb-2">
                                    <h6 class="display-4 mb-0 font-weight-bold">{{ current.temperature }}</h6>
                                    <span class="small">{{ current.name }}</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1" style="font-size: 1rem;">
                                        <div>
                                            <span class="ms-1 small">Wind {{ current.wind }}</span>
                                        </div>
                                        <div>
                                            <span class="ms-1 small">humidity {{ current.humidity }}</span>
                                        </div>
                                    </div>
                                    <div>
                                        <img :src="current.image" width="100px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <hr>
            <template v-if="loading">
                <h5 class="text-center">Loading..</h5>
            </template>
            <template v-if="daily !== false">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-8 col-xl-3 mt-3" v-for="forecast in daily">
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <h6 class="flex-grow-1">{{ forecast.date }}</h6>
                                    <h6>{{ forecast.daily_name }}</h6>
                                </div>
                                <div class="d-flex flex-column text-center mt-2 mb-2">
                                    <h6 class="display-4 mb-0 font-weight-bold">{{ forecast.temperature }}</h6>
                                    <span class="small">{{ forecast.name }}</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1" style="font-size: 1rem;">
                                        <div>
                                            <span class="ms-1 small">Wind {{ forecast.wind }}</span>
                                        </div>
                                        <div>
                                            <span class="ms-1 small">Rain {{ forecast.rain }}</span>
                                        </div>
                                        <div>
                                            <span class="ms-1 small">humidity {{ forecast.humidity }}</span>
                                        </div>
                                    </div>
                                    <div>
                                        <img :src="forecast.image" width="100px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </template>
        <template v-if="lat === false || lon === false">
            Please select a location.
        </template>
    </div>
</template>

<script>
const qs = require('querystring')
export default {
    props: {
        address: {
            type: String,
            default: '',
        },
    },
    data() {
        return {
            lat: false,
            lon: false,
            current: false,
            daily: false,
            error_message: '',
            loading: false,
        }
    },
    methods: {
        async getWeatherForecast(lat, lon) {
            this.loading = true
            this.current = false
            this.daily = false
            this.error_message = ''
            this.lat = lat
            this.lon = lon
            const data = {
                lat: lat,
                lon: lon,
            }
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#weather-forecast").offset().top
            }, 500)
            await axios.get('/api/weather/forecasts?' + qs.stringify(data), {
                    headers: {
                        'API-KEY': token
                    }
                })
                .then((response) => {
                    this.loading = false
                    this.current = response.data.data.data.current
                    this.daily = response.data.data.data.daily
                })
                .catch((error) => {
                    this.loading = false
                    this.error_message = error.response.data.message
                })
        },
    }
}
</script>
